<header class="header">
  <nav>
    <a routerLink="/">
      <img class="site-logo" src="assets/images/site-logo.png" alt="Image: Store Site Logo">
    </a>
    <ul>
      <li><a class="menu-link" routerLink="/user/list" routerLinkActive="active">User List</a></li>
      <li><a class="menu-link" routerLink="/product/list" routerLinkActive="active">Product List</a></li>
      <li><a class="menu-link" routerLink="/category/list" routerLinkActive="active">Category List</a></li>
      <li><a class="menu-link" routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a class="menu-link" routerLink="/register" routerLinkActive="active">Register</a></li>
    </ul>
  </nav>
</header>
