.form.form-user {
  border: 2px solid blue;
  width: 60%;
  margin: 0 auto;

  .field {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;

    input, label {
      width: 98%;
    }

    select {
      width: 100%;
    }

    .options {
      display: flex;
    }
  }
}
